:root {
  --primary: #ff9800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Google", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background: #f5f5f5;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 25px;
  transition: 300ms ease-in;
  cursor: pointer;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 8px 20px;
  transition: 300ms ease-in;
}
img {
  max-width: 100%;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  background: #fff;
  z-index: 7;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}
.nav__logo {
  z-index: 10;
}
.nav__logo span {
  color: var(--primary);
}
.nav__menu a:hover {
  color: #fff;
  background: var(--primary);
}
.nav__toggler {
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.nav__toggler span {
  position: relative;
  display: block;
  width: 28px;
  height: 2px;
  background: #333;
}
.nav__toggler span::after,
.nav__toggler span::before {
  position: absolute;
  content: "";
  left: 0;
  height: 2px;
  width: 100%;
  background: #333;
  transition: 0.3s ease;
}
.nav__toggler span::after {
  top: -8px; 
}
.nav__toggler span::before {
  bottom: -8px;
}
.nav__toggler.open span {
  height: 0;
}
.nav__toggler.open span::after {
  top: -1px;
  transform: rotate(45deg);
}
.nav__toggler.open span::before {
  bottom: -1px;
  transform: rotate(-45deg);
}

.header {
  width: 100%;
  height: 400px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../img/header.jpg");
  background-size: cover;
  background-position: center 30%;
  padding: 60px;
  display: flex;
  align-items: center;
}

.header__content {
  max-width: 500px;
  color: #fff;
}

.header__btn {
  margin-top: 1rem;
  background: var(--primary);
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}
.header__btn:hover {
  background: #ffb74d;
}
.main {
  margin: 0 8%;
}
.sec-title {
  text-align: center;
  margin-top: 50px;
}
.sec-title h2 {
  margin-bottom: 8px;
}
.sec-title p {
  color: #676767;
  margin: 40px 0;
}

.model {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 padding:15px;
 border-radius:5px;
 background:#fff;
 box-shadow:5px 5px 10px rgba(0,0,0,0.4);
 z-index:6;
 display:none;
}
.username__field {
  margin:auto;
  margin-top:70px;
  max-width:420px;
}
.alert {
  position: absolute;
  top: -60px;
  left: 0;
  width: auto;
  min-width: 300px;
  background: var(--primary);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
  padding: 12px;
  display: none;
}
.card {
  position: relative;
  background: #fff;
  padding: 12px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 90px;
  width: 100%;
  max-width: 720px;
  border-radius: 5px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}
.index {
  margin-bottom: 10px;
  text-align: right;
  color: var(--primary);
}
.card .ques {
  margin-bottom: 30px;
  font-size: 18px;
}

.quiz {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.quiz li {
  background: #f5f5f5;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}
.quiz li.select {
  background: var(--primary);
  color: #fff;
}
.quiz-btn {
  background: var(--primary);
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}
.quiz-btn:hover {
  background: #ffb74d;
}

.results {
  margin: 30px 8%;
  display: none;
}

.ques-list {
  list-style: none;
  margin-top: 15px;
}
.ques-list li {
  background: #fff;
  padding: 10px;
  margin-bottom: 15px;
}
.red {
  color: #f00;
}
.green {
  color: #00ff00;
}
.uid {
 padding-bottom:7px;
 border-bottom:1px solid #ccc;
 margin-bottom:15px;
 display:block;
}
.footer {
  padding: 20px 8% 0;
  background: #000;
  color: #fff;
}
.footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.footer h2 {
  font-size: 1.5rem;
  padding: 1rem 0 10px;
}
.footer .container div {
  margin-bottom: 30px;
}
.footer p {
  color: #ccc;
}
.links ul {
  list-style: none;
}
.links a {
  color: #ccc;
  padding: 4px 10px;
}
.subscribe {
  display: flex;
  width: 100%;
  padding-right: 30px;
}
.subscribe input {
  outline: none;
  border: 2px solid var(--primary);
  padding: 5px 1rem;
  background: #fff;
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  height: 45px;
}
.subscribe-btn {
  background: var(--primary);
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
.copyright {
  text-align: center;
  padding: 5px 0;
  line-height: 1.2;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.wrapper {
  margin: 40px 0;
}
.about-me {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: 20px;
}
.wrapper p {
  margin-bottom: 8px;
}
.wrapper h3 {
  margin-bottom: 8px;
  font-size: 24px;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group input,
.form-group textarea {
  outline: none;
  border: 1px solid var(--primary);
  padding: 10px 1rem;
  background: #fff;
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
}
.form-group label {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group textarea {
  height: 100px;
  resize: none;
}
.wrapper .header__btn {
  margin-top: 0;
}
@media screen and (max-width: 567px) {
  .nav__toggler {
    display: inline-flex;
  }
  .nav {
    padding: 5px 20px;
  }

  .header {
    padding: 20px;
  }
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 240px;
    background: #fff;
    z-index: 9;
    padding: 50px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    transform: translateX(-100%);
  }
  .nav__toggler.open ~ .nav__menu {
    transform: translateX(0);
  }
  .nav__menu a {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .username__field {
   margin-left:0;
  }
  .quiz {
    display: block;
  }
  .quiz li {
    margin-bottom: 1rem;
  }
  .quiz-btn {
    margin-top: 0;
  }
  .footer .container {
    display: block;
  }
  .subscribe {
    padding-right: 0px;
  }
  .about-me,
  .contact-form {
    display: block;
  }
  .img {
    margin-bottom: 8px;
  }
}